({:Expression "factor abiótico", :Definition "Factor ambiental no viviente (físico, químico u otro)."} {:Expression "carretera de acceso", :Definition "Cualquier calle o pasaje con superficie pavimentada que conduce hacia un destino específico, tal como una carretera principal"})